{% extends 'base.html' %}
    <!-- <title>Список заявок</title> -->

{% block content %}
    <h1>Список ваших заявок</h1>
    <table>
        <thead>
            <tr>
                <th>Описание объекта</th>
                <th>Желаемая дата</th>
                <th>Контактный email</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
                <tr>
                    <td>{{ request.description }}</td>
                    <td>{{ request.desired_date }}</td>
                    <td>{{ request.contact_email }}</td>  <!-- Здесь выводится контактный email -->
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'create_request' %}">Создать новую заявку</a> 
{% endblock %}