{% extends 'base.html' %}

{% block content %}
    <title>Успех</title>
    <script>
        let timeLeft = 5;

        function updateTimer() {
            const timerElement = document.getElementById('timer');
            timerElement.textContent = timeLeft;
            if (timeLeft > 0) {
                timeLeft--;
                setTimeout(updateTimer, 1000);
            } else {
                window.location.href = '/'; // URL главной страницы
            }
        }

        window.onload = updateTimer;
    </script>
</head>
<body>
    <h1>Пользователь {{ user.username }} успешно зарегистрирован.</h1>
    <p>Автопереход на главную страницу через <span id="timer">5</span> секунд.</p>
    <p><a href="/">На главную</a></p>

{% endblock %}